<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mozi Tronics | Create Project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/custom_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <div class="toggle-button">
            <i class="fas fa-bars"></i> <!-- Example icon or button for toggling -->
        </div>

        <a class="navbar-brand" href="#">Dashboard</a>
    </nav>

    <div class="sidebar collapsed" id="sidebar">
        <h2 class="text-white text-center">Menu</h2>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('Index') }}">Home</a>
            </li>
            {% if not token %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('Login') }}">Login</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="#">Messages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Settings</a>
            </li>
            {% if token %}
            <li class="nav-item"></li>
            <a class="nav-link" id="logout" href="{{url_for('Logout')}}">Logout</a>
            </li>
            {% endif %}
        </ul>
    </div>

    {% if success %}
    <div class="content collapsed" id="content">
        <div class="alert alert-primary" role="alert">
            project created successfully
        </div>
    </div>
    {% endif %}

    <div class="content collapsed" id="content">
        <div class="container">
            <div class="form-container mx-auto my-5 col-md-8 col-lg-6">
                <div class="form-heading">
                    <h3>Create a New Project</h3>
                </div>
                <form action="{{ url_for('Project') }}" method="post">
                    <div class="form-group">
                        <label for="project_name" class="form-label">Project Name:</label>
                        <input type="text" class="form-control" name="project_name" id="project_name" required>
                    </div>
                    <div class="form-group">
                        <label for="project_description" class="form-label">Project Description:</label>
                        <textarea class="form-control" name="project_description" id="project_description" rows="3"
                            required></textarea>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="project_code" class="form-label">Project Code:</label>
                            <input type="text" class="form-control" name="project_code" id="project_code" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="start_date" class="form-label">Start Date:</label>
                            <input type="text" class="form-control datepicker" id="start_date" name="start_date"
                                placeholder="DD-MM-YYYY" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="end_date" class="form-label">End Date:</label>
                            <input type="text" class="form-control datepicker" name="end_date" id="end_date"
                                placeholder="DD-MM-YYYY" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="start_time" class="form-label">Start Time:</label>
                            <input type="time" class="form-control" name="start_time" id="start_time" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="end_time" class="form-label">End Time:</label>
                            <input type="time" class="form-control" name="end_time" id="end_time" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-submit btn-block">Create Project</button>
                </form>
            </div>
        </div>
    </div>
</body>

<script>
    const accessToken = '{{token}}'
    const logoutUrl = "{{url_for('Logout')}}";
    const loginUrl = "{{url_for('LoginPage')}}";
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script src="/static/js/project_form.js"></script>
<script src="/static/js/main.js"></script>



</html>